*~
*.bak
build/
*,cover
cover
.coverage
dist/
.DS_Store
htmlcov/
.idea/
*.log
MANIFEST
.noseids
public
*.pyc
__pycache__
*.pyo
.Python
README
results/
*.html
.spyproject/
*.swp
tags
target/
venv
.vscode/
