coverage        >= 4.5.3  , < 4.6
black           >= 21.6b0 , < 22.0
flake8          >= 3.7.7  , < 3.8
isort           >= 4.3.21 , < 4.4
pyflakes        >= 2.1.1  , < 2.2
pylint          >= 2.3.1  , < 2.4
pytest          >= 5.0.0  , < 6.0
pytest-cov      >= 2.7.1  , < 2.8
pytest-html     >= 1.21.1 , < 1.22
pytest-metadata >= 1.8.0  , < 1.9
pyyaml          >= 5.1.1  , < 5.2
sphinx          >= 2.1.2  , < 2.2
virtualenv      >= 16.6.1 , < 16.7
yamllint        >= 1.26.1 , < 1.27
